footer {
  background-color: #fff;

  div {
    display: flex;
    padding: 30px;
    align-items: center;

    img {
      width: 30%;
      height: 30%;
    }

    p {
      width: 70%;
      padding: 12px;
      font-size: 14px;
    }
  }

  .desktop-footer {
    display: none;
  }
}

@media (min-width: 768px) {
  footer {
    background-color: $dark-grey;

    div {
      display: flex;
      flex-direction: row;
      margin: auto;
      width: 50%;
      justify-content: space-around;
      align-items: center;

      img {
        fill: #e3dedd !important;
        // width: 200px;
        padding: 20px;
        height: 30%;
      }
    }

    .desktop-footer {
      display: flex;
      color: #fff;
    }
  }

  .mobile-footer {
    display: none;
  }
}
