@import '../abstracts/colors';

.hamburger {
  padding: 0 20px;
}

#logo {
  display: none;
}

#hamburger-one,
#hamburger-two,
#hamburger-three {
  background-color: $dark-grey;
  width: 35px;
  height: 5px;
}

.toggle #hamburger-one {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.toggle #hamburger-two {
  opacity: 0;
}

.toggle #hamburger-three {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#nav-items {
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'cocogoose-thin', 'Lato', sans-serif;
  width: 100%;
  position: absolute;
}

.hide-menu {
  display: none;
}

.campaign-btn {
  display: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  #logo {
    display: block;
  }

  #nav-items {
    display: flex;
    justify-content: flex-end;
    top: 0;
    margin: 0;
    position: fixed;
    height: 7%;
    align-items: center;
    background-color: #fff;

    
    li {
      padding: 0 30px;

      img {
        width: 10%;
        float: left;
        margin: 0;
      }
    }
  }

  .campaign-btn {
    display: block;
    padding: 10px 30px;
    background-color: #fff;
    border: 5px solid $orange;
    color: $orange;
    white-space: nowrap;
  }
}
