#programs-section {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  background-color: $dark-grey;
  color: #fff;

  h2 {
    text-align: center;
  }

  #programs {
    padding: 10px 10px;
    flex-wrap: wrap;

    img {
      width: 15%;
      height: 15%;
    }

    .program {
      display: flex;
      background-color: rgba($color: #fff, $alpha: 0.3);
      width: 100%;
      align-items: center;
      font-size: 10px;
      justify-content: space-around;
      margin: 20px 0;
      padding: 10px;

      h4 {
        text-align: center;
        color: $orange;
        font-size: 18px;
        width: 40%;
      }

      p {
        width: 65%;
      }
    }
  }

  .btn-join {
    padding: 14px;
    border: transparent;
    background-color: $orange;
    color: #fff;
    margin: 0 15%;
    width: 70%;
  }
}
